<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <br>

    <div class="row">
        <div class="col-md-4">
            <form class="container">
                <img src="../../front/src/img_avatar.png" class="closePic" width="200"
                     height="200">
            </form>
            <br>
            <form class="container">
                <a href="/profile?login=${news.getCrLogin()}" id="link" name="linkg">${news.getCrname()}</a>
            </form>
        </div>


        <div class="col-md-8">
            <form class="container">
                <h5 name="title">${news.getHeader()}</h5>

            </form>

            <form class="container" ali><h6>
                    <!--<#list news.getTags() as tag>-->
                        <!--<div align="center">${tag}</div>-->
                    <!--</#list>-->
            </h6>
                <h6>
                    <!--<#list news.getCategories() as tag>-->
                        <!--<div align="center">${tag}</div>-->
                    <!--</#list>-->
                </h6>

            </form>

            <form class="container">
                <a name="text">${news.getText()}</a>
                <br>
                <br>
            </form>

            <br>

            <form class="container">
                <img name="image" src="../../front/src/img_avatar.png" class="closePic" width="100"
                     height="100">
            </form>

        </div>
    </div>
</div>
</body>
</html>